$color-primary: #55c57a;
$color-primary--light: #7ed56f;
$color-primary--dark: #28b485;

$color-secondary--light: #ffb900;
$color-secondary--dark: #ff7730;

$color-tertiary--light: #2998ff;
$color-tertiary--dark: #5643fa;

$color-gray--dark: #777;
$color-gray--dark-2: #999;
$color-gray-light: #f7f7f7;
$colro-gray-light-2: #eee;

$color--white: #fff;
$color--black: #000;
$color--black-2: #333;

$text--small: 1.6rem;
$max-row-width: 114rem;
$transform-deg--clip: 7deg;
$card-height: 52rem;

$margin-bottom-large: 8rem;
$margin-bottom-medium: 4rem;
$margin-bottom-small: 2rem;

$tab-port-padding: 6rem;
